language: go

sudo: required

services:
  - docker

addons:
  apt:
    update: true

matrix:
  # fail fast
  fast_finish: true
  include:
    - go: 1.x

before_install:
  - sudo apt-get install -y shellcheck
  - go get -u github.com/golang/dep/...
  # coveralls.io deps
  - go get golang.org/x/tools/cmd/cover github.com/mattn/goveralls
  # install gometalinter
  - curl -L https://git.io/vp6lP | sh
  # gometalinter installs to ./bin
  - export PATH="$GOPATH/bin:$PWD/bin:$PATH"
  - dep ensure

install:
  - skip

script:
  - make ci
  - goveralls -coverprofile=target/.coverprofile -service=travis-ci -repotoken $COVERALLS_API_TOKEN
  - make release

deploy:
  - provider: releases
    skip_cleanup: true
    api_key:
      # this is a generated and encrypted by running `travis setup releases`
      secure: qzSV3A5jXXl8UDhK7yL3ff06NwkgPfczn7GrPhU3n//pvLjhRCozYkgznmUpQh8Ef2ZpHqwYhdPAYP1np4LT5RMQtJFeQUxmlZ/m2wWQwkHc7Oct19UlgZ28/kwwyqPAE9ErL179tyFTe3pfn42UFXL30ciD7xGCOlFc0YH+4yWAzqcpicGfR/885eAwzitckBXioC/59MwMCBwgQuS9aRknMIT4tjgjfpEu6RZyM0/ycODkHxezjcW66R5qu5ezE8WVTjIPHg9/qChLSSYzL2Z86oqy7ezyOuhsbeKb4i5wXpHc7wyvhpwmgIb9dFiiwrGPcEMJC8g8BUqA5XRtBCq6Sedlmn48L1c6UMVdAqX/DhtRzPjFnb7LqGQGmGA5bXLJXj8t5yoMDq9ii+sA3XsCZfT3QLafkuVpMvjgeMFL6gdfaGDHD49xYt/s1lW2q7YSq/Fv1aLfQmR86umetzZQ4Kya8DwCOjO7xWUUGp68yvFFQei70/Q7RVXAPPa+FVxiguxxtyqHRAa/P4uVwaqLkfcPaTE1Jv+j8Vlz2q66gyGOE8/8vALz18i3/Y2GteSjMTU6VKvugVt4H4JzoUC4YdmDat862L0uWUOB1uzVd+Hj5JZ5gGB1p3tneo9icYEVeqaAuffHeHPMujbXbjR+PQ1LqwNxbk/Wjlw1gVw=
    file_glob: true
    file: target/**/node*
    on:
      repo: digitalocean/node_collector
      tags: true
  - provider: script
    skip_cleanup: true
    script: bash packaging/scripts/deploy-packagecloud.sh
    on:
      repo: digitalocean/node_collector
      tags: true
