language: go

sudo: required

services:
  - docker

addons:
  apt:
    update: true

matrix:
  # fail fast
  fast_finish: true
  include:
    - go: 1.x

before_install:
  - sudo apt-get install -y shellcheck
  - go get -u github.com/golang/dep/...
  # coveralls.io deps
  - go get golang.org/x/tools/cmd/cover github.com/mattn/goveralls
  # install gometalinter
  - curl -L https://git.io/vp6lP | sh
  # gometalinter installs to ./bin
  - export PATH="$GOPATH/bin:$PWD/bin:$PATH"
  - dep ensure

install:
  - skip

script:
  - make ci
  - goveralls -coverprofile=target/.coverprofile -service=travis-ci -repotoken $COVERALLS_API_TOKEN
  - make release

# secure variables are generated and encrypted by running CLI `travis encrypt`
deploy:
  - provider: releases
    skip_cleanup: true
    api_key:
      secure: qzSV3A5jXXl8UDhK7yL3ff06NwkgPfczn7GrPhU3n//pvLjhRCozYkgznmUpQh8Ef2ZpHqwYhdPAYP1np4LT5RMQtJFeQUxmlZ/m2wWQwkHc7Oct19UlgZ28/kwwyqPAE9ErL179tyFTe3pfn42UFXL30ciD7xGCOlFc0YH+4yWAzqcpicGfR/885eAwzitckBXioC/59MwMCBwgQuS9aRknMIT4tjgjfpEu6RZyM0/ycODkHxezjcW66R5qu5ezE8WVTjIPHg9/qChLSSYzL2Z86oqy7ezyOuhsbeKb4i5wXpHc7wyvhpwmgIb9dFiiwrGPcEMJC8g8BUqA5XRtBCq6Sedlmn48L1c6UMVdAqX/DhtRzPjFnb7LqGQGmGA5bXLJXj8t5yoMDq9ii+sA3XsCZfT3QLafkuVpMvjgeMFL6gdfaGDHD49xYt/s1lW2q7YSq/Fv1aLfQmR86umetzZQ4Kya8DwCOjO7xWUUGp68yvFFQei70/Q7RVXAPPa+FVxiguxxtyqHRAa/P4uVwaqLkfcPaTE1Jv+j8Vlz2q66gyGOE8/8vALz18i3/Y2GteSjMTU6VKvugVt4H4JzoUC4YdmDat862L0uWUOB1uzVd+Hj5JZ5gGB1p3tneo9icYEVeqaAuffHeHPMujbXbjR+PQ1LqwNxbk/Wjlw1gVw=
    file_glob: true
    file: target/**/node*
    on:
      repo: digitalocean/node_collector
      branch: master
      tags: true
  - provider: script
    skip_cleanup: true
    script: bash packaging/scripts/deploy-packagecloud.sh
    on:
      repo: digitalocean/node_collector
      branch: master
      tags: true
  - provider: s3
    file: target/scripts/node-collector-install.sh
    endpoint: https://nyc3.digitaloceanspaces.com
    bucket: insights
    acl: public_read
    skip_cleanup: true
    detect_encoding: true
    access_key_id:
      secure: "ORifNCA4hjjcbFAmNa1gH1KWp/QYSiMZBgrKTXHvpB82Skp9zFUJ0CgGLw/IUZuMqKm3MzzL9pZi/Aq56PJmegsl0jEe4xWaQYFZQyGCKg61/kxDhjkE4wuVObCp8RYNbNOUL+gk5Roxp3TtP3cSyNhvkhUGYe7O4JMV0aMbklFGtR5+wt0BmRfZiZ059B0eIO/pb78DPrO5cSnN9tSlBemMFzF+Sdkg4pTZcw5BzFXnkstzxCP8B6ogyhDKbNIudS/Yb1iKq2Gr5laVWSSzGbK42dDbdOZ4OnWmBrUtYIkSAhmKKCY6lvtPozmZRpeqbsRpwkxLEcBjgFUFGp8eLjCDEt8JLXpC3mTOasEe+rX5jBU0L2/eYgr7MW9HeEWJDLZkIYw9uSZxyRZaPe53HGGzvVOtA1MkDWcIoww9egyhJbEyLjUpoW06DYAHG9MlWIiTWTLc4KT+I0hGvLzJGtPkQp4MZVUOlzgkGR49bxs6uhMWaOTzhi8hyE+DJdbCVndqz6yaLzqGorcKlQy134jtlwIVMglMFOEMGZwbrE71qR+BGGRYBdV1a6JoickvI6qk2NrzPVnuFKDiQMnSCWv/NYVGIdWyqV5CXv2wgnUQFphpRP9x88ha/JlLbMmA5xlWU4PQfH5TG/1Q6Iu9LiT8C6Rq5AgtpolEbKNoLls="
    secret_access_key:
      secure: "T+wQ5jQqKCk+g7dE/I9lcGp7/6cLn0kzZsrIwrlYnD2Af5WT2VU/f5XuzbNuRib0xy1Xm3411FesNHXheSMEPtqh2J66CBqaS0/caqw5WRegkZZEd0ePX7Z2LVjadymPxIQI6yWjgD5et/dj3O+Yv82s7FiqJJygwvi24fdFNlC/eycz8o9LTmbxHbptac6auTX56tCAdjEyBwO6NFEpeNG2qhEX4rotcA3ZZcC0cTOVaUlqqs97nKOaRnovOv986JJ3Eox/sKfkDy3OY1+bY3vyC7J2I0Szst1IVQT0mhNWp43XTfocNSN+VTiGgZr6Gr3F2FjY7GGsC63OvzmlvCtnO2SMzgjrEEu2RCZByXf9yWRLjDMsEE1kCJSf4qp2FkqHX/bsdp0/+zZpLutuVSGvewI8SEONmFDmJqYp5qusKpQGZtz0JTv7oPIlmOkihKnqPXfQqgWDC86grryW1Yv3LDKIat4iVVpuuNIF0puoA1ivw8VK7Fuu5RmvDdMDn+r+KIP7i+RVwtMTlXm/fHvR6cZXcbU1+yC34lWKKWXouOsYepMTWffzFT4klXTm5mvZYFW/WUfzPBBIsWJxLtuF5ef7MD+l7TvH+kHYpUPRg778njghJdClFksKoigzuD15FOaJPCPeDr+q5A6T00iFHVINSxjLPGPBUtppeUM="
    on:
      repo: digitalocean/node_collector
      branch: master
      tags: true
