[Unit]
Description=DigitalOcean node_collector agent
After=network-online.target
Wants=network-online.target

[Service]
User=nobody
Group=nobody
ExecStart=/usr/local/bin/node_collector
Restart=always

OOMScoreAdjust=-900
SyslogIdentifier=DigitalOceanAgent
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
